<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
    <div class="avatar"><img src="{{ . | relURL }}" alt="avatar" /></div>
    {{ end }}
    <h1>{{ .Site.Params.salutation }}</h1>
    <h2>I'm <strong>{{.Site.Params.name}}</strong>, {{ .Site.Params.title }}</h2>
    <div class="title">{{ .Site.Params.info }}</div>
    {{ with .Site.Params.social }}
    <div class="home-social-media-links">
      <ul>
        {{ range sort .}}
        {{ if .icon }}
        <li>
          <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{ end }}>
            <i class="{{ .icon }}" aria-hidden="true"></i>
          </a>
        </li>
        {{ else }}
        <li>
          <a href="{{ .url }}" target="_blank" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}" {{ end }}>
            {{ .name }}
          </a>
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</section>